<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GSAP Accueil</title>
    <link rel="stylesheet" href="">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="lignes">
        <div class="l1"></div>
        <div class="l2"></div>
    </div>

    <div class="container-first">
        <h1><span>You </span><span>need </span><span>something </span><span>special</span></h1>
        <div class="container-btns">
            <a routerLinkActive="actif" routerLink="/listmateriel"><button class="btn-first b1">Discover</button></a>
            <a href="/contact"><button class="btn-first b2">Contact</button></a>
        </div>
    </div>

    <img src="assets/Images/ressources/canadian-maple-leaf-brands.svg" class="logo">


    <ul class="medias">
        <li class="bulle"><a href="https://www.instagram.com/ugly_cave/?hl=fr"><img src="assets/Images/ressources/fb.svg" class="logo-medias"></a></li>
        <li class="bulle"><a href="https://www.instagram.com/ugly_cave/?hl=fr"><img src="assets/Images/ressources/insta.svg" class="logo-medias"></a></li>
        <li class="bulle"><a href="https://www.instagram.com/ugly_cave/?hl=fr"><img src="assets/Images/ressources/yt.svg" class="logo-medias"></a></li>
    </ul>
    
</body>
</html>
